/bin/

*.index
eclipse/*
.gradle/*
forge-1.7.10-10.13.4.1566-1.7.10-changelog.txt
gradle/*
forge-1.7.10-10.13.4.1566-1.7.10-src.zip
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
build.gradle
CREDITS-fml.txt
gradlew
MinecraftForge-License.txt
MinecraftForge-Credits.txt
gradlew.bat
README.txt
LICENSE-fml.txt
src/main/resources/assets/saligia/textures/LogoMS.png
src/main/resources/assets/saligia/textures/items/dagger.png
src/main/resources/assets/saligia/textures/items/AltarDagger.png
src/main/resources/assets/saligia/textures/gui/generatorGUIAlt.png
src/main/resources/assets/saligia/textures/gui/generatorGUI.png
src/main/resources/assets/saligia/textures/gui/brainGUI.png
src/main/resources/assets/saligia/textures/blocks/matryoshikaBrainTEMP.png
src/main/resources/assets/saligia/textures/blocks/Core.png